@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

$font: "Kaushan Script";

$creamGreen: #D3E4CD;
$green: #ADC2A9;
$darkenGreen: #99A799;
$beige: #F9CF93;

*, 
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, $creamGreen, $beige);
    display: grid;
    place-items: center;
}

.timer {
    width: 80vw;
    height: 30vh;
    border: 1px solid $green;
    box-shadow: 0 0 2px 8px $darkenGreen
}

.head {
    text-align: center;
}

.displayShow {
    border: 2px solid $darkenGreen;
    padding: 1rem 0;   
}

.pomoTimer, .breakTimer {
    display: grid;
    place-items: center;
    transition: ease-in-out 1s;
}

.timerDisplay {
    display: grid;
    place-items: center;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
}

.buttonHolder {
    width: 100%;
    height: 50%;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.startStop {
    width: 100%;
    padding: 1rem;
    margin: 0 1rem;
    display: flex;
    justify-content: space-around;
}

.button {
    width: 180px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}

.button:hover {
    transition: ease-in-out 0.5s;
    transform: translateY(-0.25rem);
    box-shadow: 0 0 2px 6px $creamGreen,
                0 0 2px 8px $green,
                0 0 2px 10px $darkenGreen;
    color: $darkenGreen;
}